body {
    background-color: pink;
    text-align: center;
}

#card{
    width: 500px;
    height: 500px;
    background-image: url("Georgette_2.jpg");   
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid white;
}

#card:hover{
    background: url("flying_bulldog.gif") no-repeat;
}

#title{
    color: blue;
    font-size: 60px;
    font-family: "Times New Roman", Times, serif;
}

#subtitle{
    color: white;
    font-size: 30px;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
}

#invite{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid black;
    margin-bottom: 50px;
}

#list{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

#atndbtn{
    width: 150px;
}

#natndbtn{
    width: 150px;
}