body {
    background-image: url("table.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color: red;
    text-align: center;
    margin-bottom: 50px;
    size: 50px;
}

#subtitle{
    color: white;
    text-align: center;
    size: 40px;
    margin-bottom: 50px;
}

#buttons{
    display: flex;
    justify-content: space-evenly;
}

#roll{
    padding: 10px 20px;
    font-size: 20px;
}

#reset{
    padding: 10px 20px;
    font-size: 20px;
}

#dice{
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    size: 40px;
}

#highest {
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
    size: 40px;
}