body {

    text-align: center;
}
#name-input{
    width: 500px;
    height: 30px;
    font-size: large;
    margin-bottom: 50px;
}
#name-btn {
    font-size: large;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #000;
}